{% extends "index.html" %}
{% block content %}


<style>


.container{
    width: 80%;
    padding-top: 50px;
    }


.cards-dashboard{
width: 80%;
margin: auto;
display: flex;
justify-content: space-between;
text-align: center;
}
.cards{
padding-top: 30px;
width: 70%;
margin: auto;
display: flex;
justify-content: space-between;
text-align: center;
}

.table-content{
display: flex;
text-align: center;
}
.order-customerpage{
width: 100%;
}

.order-table{
width: 30%;
}

.customer-table{
width: 60%;
margin-left: 5%;
}
.card{
border_bottom: 1px solid green;
}

.form-center{
margin-top: 10px;
width: 50%;
margin: auto;
border: 1px solid green;
padding: 10px 20px;
border-radius: 5px;
background: #f1f3f4;
}


.order-table h2{text-align:left;border-bottom:1px solid grey;margin-bottom:20px;color:green;}
.customer-table h2{text-align:left;border-bottom:1px solid grey;margin-bottom:20px;color:green;}
@media(max-width: 760px){
    .cards-dashboard{
    width: 90%;
    margin: auto;
    }

    .card{
    font-size: 12px;
    font-weight: bold;
    }

    .container{
    width: 100%;
    }
    .order-table{
    font-size: 15px;
    width: 100%;
    position : relative;
    width: 100%;
    }
    .order-table h2{
    text-align: center;
    }

    .customer-table{
    position: absolute;
    margin-top: 600px;
    font-size: 12px;
    top: 0;
    left: 0 ;
    width: 90%;
    }
    .customer-table h2{
    text-align: center;
    }
    h1{
    font-size: 20px;
    }

    }
</style>
<h1 style="text-align: center;">Ambro Business Dashboard</h1>
<div class="cards-dashboard" style="margin-top: 20px;">
    <div class="card" style="width: 18rem;background: crimson;">
      <div class="card-body">
        <h5 class="card">Total Orders</h5>
        <h1>{{ count_total }}</h1>
      </div>
    </div>
     <div class="card" style="width: 18rem;background: lightgreen;margin-left: 3px;">
      <div class="card-body">
        <h5 class="card">Delivered</h5>
        <h1>{{ count_delivered }}</h1>
      </div>
    </div>
     <div class="card" style="width: 18rem;background: yellow;margin-left: 3px;">
      <div class="card-body">
        <h5 class="card">Pending</h5>
        <h1>{{ count_pending }}</h1>
      </div>
    </div>
 </div>


<div class="container">
    <div class="table-content">
    <div class="order-table">
        <h2 style="">Customer</h2>
            <div>
                <a href="{% url 'dashboard:customercreatepage' %}" style="width:80%;" class="btn btn-primary">New Customer</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Phone</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in customer %}
                    <tr>
                        <td><a class="btn btn-primary" href="{% url 'dashboard:customerpage' slug=x.slug %}">View</a></td>
                        <td>{{ x.name }}</td>
                        <td>{{ x.phone }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
    </div>


    <div class="customer-table">
        <h2 style="">Order<small>  (Last 5 orders)</small></h2>
            <div>
                <a href="{% url 'dashboard:ordercreatepage' %}" class="btn btn-primary" style="width:80%;">Create Order</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for oder in order %}
                    <tr>
                        <td>{{ oder.product.name }}</td>
                        <td>{{ oder.date }}</td>
                        <td>{{ oder.status }}</td>
                        <td><a class="btn btn-primary" href="{% url 'dashboard:updateorderpage' slug=oder.slug %}">Update</a></td>
                        <td><a  class="btn btn-primary" href="{% url 'dashboard:deleteorderpage' slug=oder.slug %}">Remove</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
    </div>
</div>
</div>
{% endblock %}
