{% extends "index.html" %}
{% block content %}
<style>
   .form-center{
margin-top: 10px;
width: 50%;
margin: auto;
border: 1px solid blue;
padding: 10px 20px;
border-radius: 5px;
background: #f1f3f4;
}

@media(max-width: 760px){
.form-center{
margin-top: 10px;
font-size: 12px;
}
.form-center h1{
font-size: 20px;
}
}
</style>

<div class="form-center">
<H1>Create Order</H1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="create">
</form>
</div>
{% endblock %}